
/* ===== Primary Styles ========================================================
 * Author:
   ========================================================================== */

#title {
  font-size: 25px;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
  color: red;
  height: 200px;
}

#title img {
  border: 5px #000 solid;
}

#copywrite {
  color: red;
  text-align: center;
}

.clip {
  width: 200px;
}
