
/*
 * Main style sheet for whatdavesaid.com
 */

/*
 * ------------------------
 * Bootstrap override stuff
 * ------------------------
 */
.navbar .container { 
 /* height: 12em;*/ 
}


/*
 * ------------------------
 * Custome stuff
 * ------------------------
 */

.navbar .dave:hover,
.navbar .dave:focus {
  text-decoration: none;
  color: #dddddd;
}

.clips {
  width: 100%;
  margin: 150px 0 50px;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.clips > li > a {
  display: block;
  color: #aaaaaa;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 20px 14px;
  border: 1px solid #e5e5e5;
}

.clips > li > a:focus,
.clips > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.player {
  margin-left: 20px;
  height: 80px;
  color: #ffffff;
/*  background: url('../img/play.png') no-repeat;*/
/*  border: 1px #fff solid;*/
}

.eq {
  margin-left: 50px;
}

.bar {
  background-color: green;
  width: 5px;
  height: 50px;
  display: inline-block;
}

.stopped {
  background: url('../img/play.png') no-repeat;
}

.stopped:hover {
  background: url('../img/play-hover.png') no-repeat;
}

.playing {
  background: url('../img/pause.png') no-repeat;
}

.playing:hover {
  background: url('../img/pause-hover.png') no-repeat;
}

.title {
  margin-top: 10px;
  height: 30px;
  text-align: center;
}

.dave-header-img {
  max-width: 80px;
  border: #ffffff solid 1px;
/*
  height: 100px;
  width: 100px;
  background: url('../img/dave.jpg');
  margin-left: 40px;
*/
}

footer {
  margin: 20px;
}

footer p {
  text-align: center;
}
